# .gitignore

# 1. Snakemake internal files (metadata, locks, partial downloads)
.snakemake/

# 2. Input Data and Output Results (Too large for GitHub)

results/
logs/

# 3. Large Reference Files in resources/
# Downloaded reference resources
resources/
# 4. Singularity Containers (Huge binary files)
resources/containers/
*.sif

# 5. Star Index (Folder containing huge binary files)
resources/star_hg38_index/

# 6. SRA downloads and raw FASTQ data (too large for GitHub)
SRR*/
data/

# 7. Java / JVM crash and cache files
.java/
.cache/
hs_err_pid*.log

# 8. System junk files
.DS_Store
.ipynb_checkpoints/
__pycache__/
